<div class="container bg-black text-white p-3 border-bottom border-white">
    <div class="row">
        <div class="col-lg-1 col-sm-1 iconbutton">
            <button (click)="changeContent(2)" class="button-icon"
                style="background: url('../../assets/icons/wheel.ico') no-repeat;"></button>
        </div>
        <div class="col-lg-1 col-sm-1 iconbutton">
            <button (click)="changeContent(0)" class="button-icon"
                style="background: url('../../assets/icons/trains.ico') no-repeat;"></button>
        </div>
        <div class="col-lg-1 col-sm-1 iconbutton">
            <button (click)="changeContent(1)" class="button-icon"
                style="background: url('../../assets/icons/setting.ico') no-repeat;"></button>
        </div>
        <div class="col-lg-1 col-sm-1 iconbutton">
            <button (click)="changeContent(2)" class="button-icon"
                style="background: url('../../assets/icons/routes.ico') no-repeat;"></button>
        </div>
        <div class="col-lg-1 col-sm-1 iconbutton">
            <button (click)="changeContent(1)" class="button-icon"
                style="background: url('../../assets/icons/chips.ico') no-repeat;"></button>
        </div>
        <div class="col-lg-1 col-sm-1 iconbutton">
            <button (click)="changeContent(2)" class="button-icon"
                style="background: url('../../assets/icons/bookings.ico') no-repeat;"></button>
        </div>
        <div class="col-lg-1 col-sm-1 iconbutton">
            <button (click)="changeContent(0)" class="button-icon"
                style="background: url('../../assets/icons/floors.ico') no-repeat;"></button>
        </div>
        <div class="col-lg-1 col-sm-1 iconbutton">
            <button (click)="changeContent(1)" class="button-icon"
                style="background: url('../../assets/icons/arrow.ico') no-repeat;"></button>
        </div>
        <!-- <div class="col-lg-6">
            <div class="row mx-auto my-auto">
                <div id="recipeCarousel" class="carousel slide w-100" data-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active">
                            <img class="col-2 img-fluid" src="../../assets/icons/wheel.ico">
                        </div>
                        <div class="carousel-item">
                            <img class="col-2 img-fluid" src="../../assets/icons/wheel.ico">
                        </div>
                        <div class="carousel-item">
                            <img class="col-2 img-fluid" src="../../assets/icons/wheel.ico">
                        </div>
                        <div class="carousel-item">
                            <img class=" col-2 img-fluid" src="../../assets/icons/wheel.ico">
                        </div>
                        <div class="carousel-item">
                            <img class="col-2 img-fluid" src="../../assets/icons/wheel.ico">
                        </div>
                        <div class="carousel-item">
                            <img class="col-2 img-fluid" src="../../assets/icons/wheel.ico">
                        </div>
                        <div class="carousel-item">
                            <img class="col-2 img-fluid" src="../../assets/icons/wheel.ico">
                        </div>
                        <div class="carousel-item">
                            <img class="col-2 img-fluid" src="../../assets/icons/wheel.ico">
                        </div>
                        <div class="carousel-item">
                            <img class="col-2 img-fluid" src="../../assets/icons/wheel.ico">
                        </div>
                        <div class="carousel-item">
                            <img class="col-2 img-fluid" src="../../assets/icons/wheel.ico">
                        </div>
                        <div class="carousel-item">
                            <img class="col-2 img-fluid" src="../../assets/icons/wheel.ico">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#recipeCarousel" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#recipeCarousel" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div> -->
    </div>