.bg-black {
    background-color: #000;
}

.border-right-white {
    border-right: 1px solid #fff;
}

.button-icon {
    cursor: pointer;
    border: none;
    width: 64px;
    height: 64px;
}

.carousel-inner .carousel-item-right.active, .carousel-inner .carousel-item-next {
    transform: translateX(33.33%);
}

.carousel-inner .carousel-item-left.active, .carousel-inner .carousel-item-prev {
    transform: translateX(-33.33%)
}

.carousel-inner .carousel-item-right, .carousel-inner .carousel-item-left {
    transform: translateX(0);
}