<div class="container bg-black text-white p-3 border-bottom border-white">
    <div class="row">
        <div class="col-lg-12">
            <!-- <video id="my-video" class="video-js" autoplay preload="auto" height="100%" poster="MY_VIDEO_POSTER.jpg"
                data-setup="{}">
                <source src="../../assets/video/altovideo.mp4" type="video/mp4" />
            </video> -->
            <div class="video">
                <video id="my-video" autoplay preload style="width:100%;height:40%">
                    <!-- <video id="my-video" muted="muted" autoplay style="width:100%;height:40%"> -->
                    <source src=" ../../assets/video/altovideo.mp4" type="video/mp4" />
                </video>
            </div>
        </div>
    </div>
</div>
<div class="container bg-black text-white p-3 border-bottom border-white">
    <div class="row">
        <div class="col-lg-2 col-sm-2">
            <button class="button-icon"></button>
        </div>
        <div class="col-lg-10 col-sm-8" style="margin-top:10px">
            <div class="row mx-auto my-auto">
                <div class="carousel slide w-100" data-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active">
                            Lorem Ipsum is simply dummy text Lorem Ipsum is simply dummy text Lorem Ipsum is simply

                        </div>
                        <div class="carousel-item">
                            Lorem Ipsum is simply dummy text Lorem Ipsum is simply dummy text Lorem Ipsum is simply

                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#recipeCarousel" role="button" data-slide="prev">
                        <!-- <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span> -->
                    </a>
                    <a class="carousel-control-next" href="#recipeCarousel" role="button" data-slide="next">
                        <!-- <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span> -->
                    </a>
                </div>
            </div>
        </div>
    </div>