.bg-black {
    background-color: #000;
}

.border-right-white {
    border-right: 1px solid #fff;
}

.circle-red.fa-user-circle {
    border-radius: 50%;
    border: 1px solid #f61717;
    background-color: #eae7e7;
    color: #db4141;
}

.circle-green.fa-user-circle {
    border-radius: 50%;
    border: 1px solid green;
    background-color: #eae7e7;
    color: green;
}

.circle-violet.fa-user-circle {
    border-radius: 50%;
    border: 1px solid blueviolet;
    background-color: #eae7e7;
    color: blueviolet;
}

.circle-blue.fa-user-circle {
    border-radius: 50%;
    border: 1px solid #106aa9;
    background-color: #eae7e7;
    color: #106aa9;
}

.circle-yellow.fa-user-circle {
    border-radius: 50%;
    border: 1px solid #bfc221;
    background-color: #eae7e7;
    color: #bfc221;
}

.circle-darkyellow.fa-user-circle {
    border-radius: 50%;
    border: 1px solid #7a6c0d;
    background-color: #eae7e7;
    color: #7a6c0d;
}

.circle-light-green.fa-user-circle {
    border-radius: 50%;
    border: 1px solid #4abc2e;
    background-color: #eae7e7;
    color: #4abc2e;
}

.fa-bandcamp {
    border-radius: 50%;
    border: 1px solid #f61717;
    background-color: #eae7e7;
    color: #db4141;
}