<div class="container bg-black text-white p-3 border-bottom border-white">
    <div class="row">
        <div class="col-lg-6 col-sm-7 border-right-white">
            <ul style="list-style: none;padding-left:0px !important">
                <li class="border-bottom border-white p-1 row" *ngFor="let icon of activeIcon?.icons">
                    <span class="col-lg-6 col-sm-6">
                        <button style="background-color: transparent;border:none"
                            *ngFor="let userIcon of icon.subIcons"><i class="fa {{userIcon.icon}} fa-2x ml-10"
                                aria-hidden="true"></i></button></span>
                    <span style="cursor: pointer;" class="col-lg-6 col-sm-6" (click)="showData(icon.content2)">
                        {{icon.title}}
                    </span>

                </li>

            </ul>
        </div>
        <div class="col-lg-6 col-sm-4  p-4">
            <h3>{{data}}</h3>
        </div>
    </div>
</div>