<div class="container bg-black text-white p-3 border-bottom border-white">
    <div class="row">
        <div class="col-lg-4 col-sm-3 border-right-white p-2">
            <h3>Railway Information</h3>
        </div>
        <div class="col-lg-4 col-sm-4 border-right-white p-2">
            <span class="col-md-5 ">
                <img src="../../assets/icons/weather.ico">
            </span>
            <span style="float:right;">
                <span>110 C</span>
                <p>Mostly Cloudy</p>
            </span>
        </div>
        <div class="col-lg-4 col-sm-5 p-2">
            <span class="col-md-5">
                <img src="../../assets/icons/clock.ico">
            </span>
            <span style="float:right;">
                <span>12.40 PM</span>
                <p class="mb-0">Seattle</p>
                <span>Pacific Daylight Time</span>
            </span>
        </div>
    </div>
</div>
<div class="container bg-black text-white p-3 border-bottom border-white">
    <div class="row">
        <div class="col-lg-12">
            <h3 *ngIf="content">{{content.content1}}</h3>
        </div>
    </div>
</div>