/* You can add global styles to this file, and also import other style files */

@media (min-device-width: 700px) and (max-device-width: 1280px) and (orientation: landscape) {
    h3 {
        font-size: 16px;
    }
    .container-fluid {
        font-size: 10px;
    }
    .iconbutton {
        margin-right: 4px;
    }
}

@media (min-device-width: 700px) and (max-device-width: 1280px) and (orientation: portrait) {
    h3 {
        font-size: 16px;
    }
    .container-fluid {
        font-size: 10px;
    }
    .iconbutton {
        margin-right: 15px;
    }
}